[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
dj-rest-auth = "*"
django-cors-headers = "*"
django-allauth = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.11"
